@font-face {
  font-family: "Circular Std Bold";
  src: url("../src/assets/fonts/CircularStd-Bold.eot");
  src: url("../src/assets/fonts/CircularStd-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/CircularStd-Bold.woff2") format("woff2"),
    url("../src/assets/fonts/CircularStd-Bold.woff") format("woff"),
    url("../src/assets/fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std Regular";
  src: url("../src/assets/fonts/CircularSpotifyText-Light.eot");
  src: url("../src/assets/fonts/CircularSpotifyText-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/CircularSpotifyText-Light.woff2") format("woff2"),
    url("../src/assets/fonts/CircularSpotifyText-Light.woff") format("woff"),
    url("../src/assets/fonts/CircularSpotifyText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std Medium";
  src: url("../src/assets/fonts/CircularStd-Medium.eot");
  src: url("../src/assets/fonts/CircularStd-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/CircularStd-Medium.woff2") format("woff2"),
    url("../src/assets/fonts/CircularStd-Medium.woff") format("woff"),
    url("../src/assets/fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro Bold";
  src: url("../src/assets/fonts/SofiaPro-Bold.eot");
  src: url("../src/assets/fonts/SofiaPro-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/SofiaPro-Bold.woff2") format("woff2"),
    url("../src/assets/fonts/SofiaPro-Bold.woff") format("woff"),
    url("../src/assets/fonts/SofiaPro-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Sans";
  src: url("../src/assets/fonts/SofiaSans-Regular.eot");
  src: url("../src/assets/fonts/SofiaSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/SofiaSans-Regular.woff2") format("woff2"),
    url("../src/assets/fonts/SofiaSans-Regular.woff") format("woff"),
    url("../src/assets/fonts/SofiaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: "Poppins Bold";
  src: url("/src/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    font-family: "Poppins", sans-serif;
  }

  /* TEXT STARTS */
  .font {
    font-family: "Poppins", sans-serif;
  }
  .fontBold {
    font-family: "Poppins", sans-serif;
  }
  .xl2Bold {
    font-weight: 400 !important;
  }
  .blackHeadingText {
    color: #1b1b1b !important;
  }
  .blackHeading {
    color: #1b1b1b;
  }
  .blackDescriptionText {
    color: #171717 !important;
  }
  .whiteHeadingText {
    color: #ffffff !important;
  }
  .whiteDescriptionText {
    /* color: #e0e0e0 !important; */
    color: #e7e7e7 !important;
  }

  .text72 {
    @apply text-[28px] sm:text-[36px] md:text-[50px] lg:text-[72px] font-bold leading-[42px] sm:leading-[52px] md:leading-[68px] lg:leading-[94px];
  }

  .text60 {
    @apply text-[24px] sm:text-[24px] md:text-[40px] lg:text-[60px] font-bold leading-[38px] sm:leading-[38px] md:leading-[54px] lg:leading-[80px];
  }

  .text50 {
    @apply text-[24px] sm:text-[28px] md:text-[36px] lg:text-[50px] font-bold leading-[36px] sm:leading-[40px] md:leading-[49px] lg:leading-[66px];
  }

  .text48 {
    @apply text-[22px] sm:text-[26px] md:text-[34px] lg:text-[48px] font-bold leading-[33px] sm:leading-[37px] md:leading-[47px] lg:leading-[64px];
  }

  .text36 {
    @apply text-[20px] sm:text-[24px] md:text-[28px] lg:text-[36px] font-bold leading-[28px] sm:leading-[33px] md:leading-[40px] lg:leading-[49px];
  }

  .text24 {
    @apply text-[12px] sm:text-[16px] md:text-[20px] lg:text-[24px] font-semibold leading-[21px] sm:leading-[27px] md:leading-[32px] lg:leading-[40px];
    word-spacing: 0.15rem;
  }

  .text20 {
    @apply text-[12px] sm:text-[14px] md:text-[16px] lg:text-[20px] leading-[21px] sm:leading-[24px] md:leading-[28px] lg:leading-[34px];
    word-spacing: 0.15rem;
  }

  .text16 {
    @apply text-[10px] sm:text-[12px] md:text-[14px] lg:text-[16px] leading-[18px] sm:leading-[21px] md:leading-[24px] lg:leading-[28px];
    word-spacing: 0.1rem;
  }

  .gradientText {
    background: linear-gradient(91.87deg, #f79b60 0%, #ee245f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .xl2Heading {
    @apply font-sans text60;
  }
  .extraLargeHeading {
    @apply font-sans text60;
  }
  .largeHeading {
    @apply font-sans text50;
  }
  .heading {
    @apply font-sans text36;
  }
  .smallHeading {
    @apply font-sans text-base sm:text-xl;
  }
  .largeParagraph {
    @apply font text24;
  }
  .paragraph {
    @apply font font-sans sm:text-base text-sm;
  }
  .smallText {
    @apply font text16;
  }
  .largeHeadingBlack {
    @apply blackHeadingText heading;
  }
  .largeHeadingWhite {
    @apply whiteHeadingText heading;
  }
  .extraLargeHeadingWhite {
    @apply extraLargeHeading whiteHeadingText;
  }
  .headingBlack {
    @apply blackHeadingText heading;
  }
  .headingWhite {
    @apply whiteHeadingText heading;
  }
  .paragraphBlack {
    @apply blackDescriptionText paragraph;
  }
  .paragraphWhite {
    @apply whiteDescriptionText paragraph;
  }
  .smallTextWhite {
    @apply smallText whiteDescriptionText;
  }
  /* TEXT END */
  /*  */
  /*  */
  /* BACKGROUND COLOR START */
  .bgWhite {
    background-color: #ffffff;
  }
  .bgBlack {
    background-color: #1b1b1b;
  }
  /* BACKGROUND COLOR END */
  /* MARGIN PADDING START */
  .pagePaddingX {
    @apply px-4 md:px-10 lg:px-14 xl:px-20 2xl:px-32 3xl:px-0 ;
  }
  .componentsMainGap {
    @apply gap-10 lg:gap-14 3xl:gap-20;
  }
  /* MARGIN PADDING END */
  /* IMAGE START */
  .imageShadow {
    @apply shadow-md md:shadow-lg shadow-black;
  }
  .imageRounded {
    @apply rounded-[30px] sm:rounded-[40px];
  }
  /* IMAGE END */
}

html,
body {
  background: #ffffff;
}
.pink-color {
  color: rgb(247, 78, 161);
}
.bgNav {
  background-color: rgb(247, 78, 161);
}
.transparentColor {
  color: rgba(0, 0, 0, 0.25);
}
.transparentBgColor {
  background-color: rgba(0, 0, 0, 0.25);
}

.gradient-span {
  height: 55px;
  min-width: 250px;
  padding: 0px 15px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(91.87deg, #f79b60 0%, #ee245f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: 1023px) {
    height: 40px;
    min-width: 200px;
  }

  @media (max-width: 767px) {
    height: 35px;
    min-width: 130px;
  }

  @media (max-width: 639px) {
    height: 30px;
    min-width: 100px;
    padding: 0px 10px;
  }
}
/* .gradient-span:hover {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
} */
.gradient-span-bgBlack {
  height: 55px;
  min-width: 250px;
  padding: 0px 15px;
  text-align: center;
  display: flex;
  border: transparent !important;
  align-items: center;
  justify-content: center;
  -webkit-text-fill-color: #fff;
  @media (max-width: 1023px) {
    height: 40px;
    min-width: 200px;
  }

  @media (max-width: 767px) {
    height: 35px;
    min-width: 130px;
  }

  @media (max-width: 639px) {
    height: 30px;
    min-width: 100px;
    padding: 0px 10px;
  }
}
.gradient-button {
  position: relative;
  display: inline-block;
  color: transparent;
  border-color: #ee2760;
}
.gradient-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-image: linear-gradient(91.87deg, #f79b60 0%, #ee245f 100%) 5;
  border-image-slice: 5;
  z-index: -1;
  background-clip: border-box;
  -webkit-background-clip: padding-box;
  transition: all 0.3s ease-in-out;
}

/* .gradient-button:hover {
  color: white;
  background: linear-gradient(91.87deg, #f79b60 0%, #ee245f 100%);
  transition: all 0.3s ease-in-out !important;
} */
.gradient-button-bgBlack {
  position: relative;
  display: inline-block;
  border-color: transparent;
  background: linear-gradient(91.87deg, #f79b60 0%, #ee245f 100%);
}
.gradientHoverBlack {
  background: #1b1b1b;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 1s ease-in-out;
}
/* .gradientHoverBlack:hover {
  background: linear-gradient(91.87deg, #f79b60 0%, #ee245f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.gradientHoverWhite {
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 1s ease-in-out;
}
/* .gradientHoverWhite:hover {
  background: linear-gradient(91.87deg, #f79b60 0%, #ee245f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
/* .scale-text-on-hover:hover span {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
} */

@media (min-width: 768px) {
  .gradientHoverWhite:hover {
    background: linear-gradient(91.87deg, #f79b60 0%, #ee245f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradientHoverBlack:hover {
    background: linear-gradient(91.87deg, #f79b60 0%, #ee245f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-span:hover {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }

  .gradient-button:hover {
    color: white;
    background: linear-gradient(91.87deg, #f79b60 0%, #ee245f 100%);
    transition: all 0.3s ease-in-out !important;
  }

  .scale-text-on-hover:hover span {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}

#menuToggle {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35px;
}

#menuToggle input {
  display: flex;
  width: 35px;
  height: 33px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

#menuToggle span {
  width: 35px;
  height: 3px;
  margin-bottom: 6px;
  /* color: #1b1b1b !important; */
  background: #1b1b1b !important;
  border-radius: 1px;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

#menuToggle #span1 {
  transform-origin: 4px 0;
  /* color: #1b1b1b; */
}

#menuToggle #span3 {
  width: 25px !important;
  margin-left: auto;
  color: #1b1b1b;
  transform-origin: bottom left;
}

#menuToggle input:checked ~ #span1 {
  background-color: #ffffff;
  transform: rotate(45deg) translate(5px);
  background: #fff !important;
}
#menuToggle input:checked ~ #span2 {
  background-color: #ffffff;
  transform: rotate(495deg) translate(5px);
  background: #fff !important;
}
#menuToggle input:checked ~ #span3 {
  background-color: #ffffff;
  transform: rotate(45deg);
  background: #fff !important;
  opacity: 0;
}

/* footer svg g {
  stroke: rgb(255, 255, 255);
  fill: transparent;
  transition: stroke 0.2s ease-in-out 0s;
}
footer svg path {
  fill: rgb(255, 255, 255);
  transition: fill 0.2s ease-in-out 0s;
}
footer svg:hover g {
  stroke: rgb(247, 78, 161);
  transition: fill 0.2s ease-in-out 0s;
}
footer svg:hover path {
  fill: rgb(247, 78, 161);
  transition: fill 0.2s ease-in-out 0s;
} */

/* .contact-wrapper svg {
  width: 45px;
  height: 45px;
}
.contact-wrapper svg:hover g {
  fill: #ee2760;
  transition: stroke 0.2s ease-in-out 0s;
}

.contact-wrapper svg:hover path {
  fill: rgb(255, 255, 255);
  transition: fill 0.2s ease-in-out 0s;
} */
footer svg g,
footer svg path {
  fill: #fff;
  stroke: #fff;
  transition: fill 0.2s ease-in-out 0s, stroke 0.2s ease-in-out 0s;
}

footer svg:hover g,
footer svg:hover path {
  fill: #f74ea1;
  stroke: #f74ea1;
  transition: fill 0.2s ease-in-out 0s, stroke 0.2s ease-in-out 0s;
}

.contact-wrapper svg {
  width: 45px;
  height: 45px;
  @media (max-width: 1023px) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: 767px) {
    width: 30px;
    height: 30px;
  }
}

.contact-wrapper svg:hover g,
.contact-wrapper svg:hover path {
  fill: #ee2760;
  stroke: #ee2760;
  transition: fill 0.2s ease-in-out 0s, stroke 0.2s ease-in-out 0s;
}

.nav-footer svg g {
  stroke: rgb(255, 255, 255);
  fill: transparent;
  transition: stroke 0.2s ease-in-out 0s;
}
.nav-footer svg path {
  fill: rgb(255, 255, 255);
  transition: fill 0.2s ease-in-out 0s;
}

.work-images {
  transition: background-color 0.5s ease-in-out;
}
.work-images:hover:before {
  content: "";
  background-color: rgba(247, 78, 161, 0.4);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease-in;
}
.nav-footer {
  /* width: calc(100% - 160px); */
}

.tabs-wrapper {
  position: relative;
}
.tabs-wrapper .react-tabs__tab-list {
  border-bottom: 1px solid transparent;
  position: absolute;
  left: 55%;
  top: 140px;
}

.tabs-wrapper .react-tabs__tab {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  padding: 6px 12px;
  border-radius: 0;
  border: 2px solid transparent;
  position: static;
}
.tabs-wrapper .react-tabs__tab--selected {
  border: 2px solid rgb(247, 78, 161);
  color: rgb(247, 78, 161);
}

.tabs-wrapper.blog-tabs-wrapper .react-tabs__tab-list {
  border-bottom: 1px solid transparent;
  position: relative;
  left: auto;
  top: initial;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: rgb(247, 78, 161);
  font-weight: 700;
  font-family: "Sofia Pro Bold";
}
.file-upload::before {
  content: "Upload File pdf, jpeg, docx, ppt";
  position: absolute;
  top: -6px;
  color: #4a5568;
  opacity: 0.8;
}
.file-upload .file-icon {
  top: 0;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.file-upload:hover .file-icon {
  top: -50px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.file-upload .hidden-icon {
  top: 50px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.file-upload:hover .hidden-icon {
  top: 0;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.blog-banner:before {
  content: "";
  width: 100%;
  height: 220px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.card-wrapper {
  margin-right: 5%;
  margin-bottom: 5%;
}
.card-wrapper:nth-child(3n) {
  margin-right: 0;
}
.card-wrapper:nth-last-child(-n + 1),
.card-wrapper:nth-last-child(-n + 2),
.card-wrapper:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.studio-video {
  height: 430px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.play-button {
  transition: fill 0.25s ease 0s, transform 0.25s ease 0s;
}
.play-button:hover {
  border: 5px solid rgb(247, 78, 161);
  transform: scale(1.3);
}
.play-button:hover > svg > path {
  fill: rgb(247, 78, 161) !important;
}
.transition-in-out {
  transition: all 0.5s ease-in-out;
}
.background-gradient {
  background: url("../src//assets/images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-button-prev {
  color: white !important;
}
.swiper-button-next {
  color: white !important;
}
.text-style {
  @apply text-[#454545] font-sans  paragraph leading-7;
}
.text-style-colorless {
  @apply font-normal  paragraph;
}
.swiper-button-prev {
  display: none !important;
}
.swiper-button-next {
  display: none !important;
}
.article-sticky {
  position: sticky !important;
  /* top: 10000px !important; */
  /* top: calc(var(--header-height) + var(--layout-padding)); */
}
.swiper-button-prev-custom {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}
.swiper-button-next-custom {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

.autoplay-video {
  animation: playVideo 1s linear forwards;
}

@keyframes playVideo {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.image-scroll-container {
  transition: transform 0.3s ease-in-out;
}
.imageWrapper {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}
.image-scroll-wrapper {
  position: fixed;
  top: 15%;
  /* @apply pl-0 2xl:pl-32; */
  z-index: 1;
  /* transition: transform 0.3s ease-in-out; */
  /* @apply pr-0 md:pr-0 lg:pr-0 xl:pr-0 2xl:pl-32; */
}
.imageTransitionEffect {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.image-scroll-width {
  width: 42.8vw;
  @apply pl-10 3xl:pl-11;
  @media (min-width: 2200px) {
    width: 640px;
  }
}
.magnify-container {
  position: relative;
  overflow: hidden;
}

.lens {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.5); /* this scales the "lens" */
  pointer-events: none; /* to ensure the lens doesn't interfere with mouse events */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.content:hover .lens {
  opacity: 1;
}

.image-effect {
  transition: transform 0.3s ease;
  will-change: transform;
}

/* Hamad Pervaiz */

.image-animation{
  @apply duration-300 ease-in-out transition hover:opacity-80 hover:-translate-y-1;
}